.gridContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 4fr 6fr;
}

@media only screen and (max-width: 767px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .gridContainer {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1919px) {
    .gridContainer {
        grid-template-columns: 3fr 7fr;
    }
}