.titleContainer {
    display: flex;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin: 0;
    padding: 1rem;
}

.title__slideIn {
    overflow: hidden;
}

.title__slideIn {
    animation: title__slideIn 1s forwards;
    opacity: 0;
}

@keyframes title__slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media only screen and (max-width: 575px) {
    .titleContainer {
        display: none;
    }
}

@media only screen and (min-width: 576px)and (max-width: 767px) {
    .titleContainer {
        width: 100%;
    }

    .title {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .titleContainer {
        width: 100%;
    }

    .title {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 1200px) {
}