@import './resources/css/Card.css';
@import './resources/css/Carousel.css';
@import './resources/css/Radio.css';
@import './resources/css/Grid.css';
@import './resources/css/Title.css';
@import './resources/css/Description.css';
@import './resources/css/MobileCard.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body > #root > div {
  height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  padding: 10px;
  display: flex;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 575px) {
  .infoWrapper {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
}

@media only screen and (min-width: 1200px) {
  .infoWrapper {
    margin-left: 100px;
  }
}

